{erl_opts, [{i, "/usr/local/lib"}, debug_info]}.

{deps_dir, ".."}.

{deps, [{ewebauth, "1", {git, "https://github.com/danw/ewebauth.git", "HEAD"}},
        {drink, "1.0", {git, "https://github.com/danw/drink.git", "HEAD"}},
        {drink_json_api, "1.0", {git, "https://github.com/danw/drink_json_api.git", "HEAD"}},
        {drink_connections, "1.0", {git, "https://github.com/danw/drink_connections.git", "HEAD"}}]}.
